#spring.application.name=crawling
spring:
  jackson:
    time-zone: Asia/Seoul
  config:
    import:
      - classpath:application-database.yml
      - classpath:application-hottracks.yml
      - classpath:application-libro.yml
      - classpath:application-arcnbook.yml
      - classpath:application-slack-webhook.yml
      - classpath:application-hyggebook.yml
      - classpath:application-yeongpoong.yml
  servlet:
    multipart:
      maxFileSize: 10MB
      maxRequestSize: 10MB
  web:
    resources:
      add-mappings: false
  task:
    scheduling:
      pool:
        size: 1
geoip2:
  database:
    path: GeoLite2-Country.mmdb

springdoc:
  swagger-ui:
    path: /swagger

logging:
  time-zone : Asia/Seoul
  level:
    org.springframework.security: DEBUG
    org.springframework.context.annotation: DEBUG
    org.springframework.scheduling: DEBUG
    org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor: TRACE
    codeRecipe.crawling.crawling: DEBUG


server:
  port: 8081


management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    connectj-timezone:
      enabled: true





